@import 'tailwindcss';
@import 'tailwindcss-primeui';
:root {
  --background-color: #ffeaec;
}

body {
  background-color: var(--background-color);
  color: black;
}

button {
  background-color: #f5cbcb;
  @apply hover:bg-[#c67676] ease-in-out duration-300;
}
